!Assay
seqspec_version: 0.0.0
assay: WT-Mega-v2
sequencer: Illumina
doi: ""
publication_date: ""
name: WT Mega v2
description: split-pool ligation-based transcriptome sequencing
modalities:
- rna
lib_struct: ""
assay_spec:
- !Region
  region_id: rna
  region_type: named
  name: rna
  sequence_type: joined
  sequence: AATGATACGGCGACCACCGAGATCTACACTCTTTCCCTACACGACGCTCTTCCGATCTXNNNNNNNNGTGGCCGATGTTTCGCATCGGCGTACGACTNNNNNNNNATCCACGTGCTTGAGACTGTGGNNNNNNNNNNNNNNNNNNAGATCGGAAGAGCACACGTCTGAACTCCAGTCACNNNNNNNNATCTCGTATGCCGTCTTCTGCTTG
  min_len: {{ total_min_length }} 
  max_len: {{ total_max_length }}
  onlist: null
  parent_id: null
  regions:
  - !Region
    region_id: illumina_p5
    region_type: illumina_p5
    name: Illumina P5
    sequence_type: fixed
    sequence: AATGATACGGCGACCACCGAGATCTACAC
    min_len: 29
    max_len: 29
    onlist: null
    regions: null
    parent_id: rna  
  - !Region
    region_id: truseq_read1
    region_type: truseq_read1
    name: Truseq Read 1
    sequence_type: fixed
    sequence: TCTTTCCCTACACGACGCTCTTCCGATCT
    min_len: 29
    max_len: 29
    onlist: null
    regions: null
    parent_id: rna
  - !Region
    region_id: {{ read1_accession }}.fastq.gz
    region_type: fastq
    name: Read 1 sequence Fastq
    sequence_type: random
    sequence: X
    min_len: {{ read1_min_length }}
    max_len: {{ read1_max_length }}
    onlist: null
    fastq_link: {{ read1_url }}
    parent_id: rna
    regions:
    - !Region
      region_id: cDNA
      region_type: cdna
      name: cDNA
      sequence_type: random
      sequence: X
      min_len: {{ read1_min_length }}
      max_len: {{ read1_max_length }}
      onlist: null
      regions: null
      parent_id: {{ read1_accession }}.fastq.gz
  - !Region
    region_id: {{ read2_accession }}.fastq.gz
    region_type: fastq
    name: Read 2 umi and barcode FASTQ
    sequence_type: joined
    sequence: NNNNNNNNNNNNNNNNNNGTGGCCGATGTTTCGCATCGGCGTACGACTNNNNNNNNATCCACGTGCTTGAGACTGTGGNNNNNNNN
    min_len: {{ read2_min_length }}
    max_len: {{ read2_max_length }}
    onlist: null
    fastq_link: {{ read2_url }}
    regions:
    - !Region
      region_id: umi
      region_type: umi
      name: umi
      sequence_type: random
      sequence: NNNNNNNNNN
      min_len: 10
      max_len: 10
      onlist: null
      regions: null
      parent_id: {{ read2_accession }}.fastq.gz
    - !Region
      region_id: barcode-1
      region_type: barcode
      name: barcode-1
      sequence_type: onlist
      sequence: NNNNNNNN
      min_len: 8
      max_len: 8
      onlist: !Onlist
        location: remote
        filename: {{ barcode_1_url }}
        md5: {{ barcode_1_md5 }}
      regions: null
      parent_id: {{ read2_accession }}.fastq.gz
    - !Region
      region_id: linker-1
      region_type: linker
      name: linker-1
      sequence_type: fixed
      sequence: GTGGCCGATGTTTCGCATCGGCGTACGACT
      min_len: 30
      max_len: 30
      onlist: null
      regions: null
      parent_id: {{ read2_accession }}.fastq.gz
    - !Region
      region_id: barcode-2
      region_type: barcode
      name: barcode-2
      sequence_type: onlist
      sequence: NNNNNNNN
      min_len: 8
      max_len: 8
      onlist: !Onlist
        location: remote
        filename: {{ barcode_2_url }}
        md5: {{ barcode_2_md5 }}
      regions: null
      parent_id: {{ read2_accession }}.fastq.gz
    - !Region
      region_id: linker-3
      region_type: linker
      name: linker-3
      sequence_type: fixed
      sequence: ATCCACGTGCTTGAGACTGTGG
      min_len: 22
      max_len: 22
      onlist: null
      regions: null
      parent_id: {{ read2_accession }}.fastq.gz
    - !Region
      region_id: barcode-3
      region_type: barcode
      name: barcode-3
      sequence_type: onlist
      sequence: NNNNNNNN
      min_len: 8
      max_len: 8
      onlist: !Onlist
        location: remote
        filename: {{ barcode_3_url }}
        md5: {{ barcode_3_md5 }}
      regions: null
      parent_id: {{ read2_accession }}
    - !Region
      region_id: umi
      region_type: umi
      name: umi
      sequence_type: random
      sequence: NNNNNNNNNN
      min_len: 10
      max_len: 10
      onlist: null
      regions: null
      parent_id: {{ read2_accession }}.fastq.gz
  - !Region
    region_id: truseq_read2
    region_type: truseq_read2
    name: Truseq Read 2
    sequence_type: fixed
    sequence: AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC
    min_len: 34
    max_len: 34
    onlist: null
    regions: null
    parent_id: rna
  # Illumina single end read index
  - !Region
    region_id: index7
    region_type: index7
    name: Illumina barcode BC4
    sequence_type: onlist
    sequence: NNNNNNNN
    min_len: 8
    max_len: 8
    # Leaving the onlist out of the seqspec since it's not available.
    onlist: null
    regions: null
    parent_id: rna
  - !Region
    region_id: illumina_p7
    region_type: illumina_p7
    name: Illumina P7
    sequence_type: fixed
    sequence: ATCTCGTATGCCGTCTTCTGCTTG
    min_len: 24
    max_len: 24
    onlist: null
    regions: null
    parent_id: rna
